
    <h1 class="section-title wow fadeInUpQuick" data-wow-delay=".3s">
      LINLI DING
    </h1>
    <p class="section-subcontent wow fadeInUpQuick" data-wow-delay=".4s">
      Results-driven senior software engineer with 7 years of experience optimizing business processes and driving datadriven decisions in supply chain and technical operations. Demonstrated expertise in production support, feature
engineering, end-to-end process automation, and data visualization. Proficient in Python, SQL, Power BI, and skilled in
cross-functional collaboration to deliver strategic insights. 
    </p>

    <div class="row wow fadeInUp">
      <div class="col-md-12">
        <div class="controls text-center">
          <a class="filter active btn btn-common" data-filter="all">
            All
          </a>
          {% for c in categories %}
          <a class="filter btn btn-common" data-filter="{{c}}">
            {{c}}
          </a>
          {% endfor %}
        </div>


      </div>

      <div id="portfolio">
       {% for project in projects %}
          {% include 'project/project_thumbnail.html' %}
       {% endfor %}
     </div>

   </div>
 </div>
